@import '../../global.scss';

.testimonials {
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(98, 98, 98);
    overflow: hidden;

    @include mobile {
        // justify-content: space-around;
    }

    h1 {
        font-size: 50px;
        color: $mainColor;

        @include mobile {
            font-size: 1.4rem;
            position: relative;
            top: 4%;
        }

    }

    .container {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;


        @include mobile {
            flex-direction: column;
            height: 70%;
            overflow: hidden;
            position: relative;
            top: 7%;
        }

        .card {
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 1s ease;
            color: white;
            background-color: rgb(33, 33, 33);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            @include mobile {
                height: 180px;
                margin: 10px 0;
            }

            &.featured {
                width: 300px;
                height: 75%;
                margin: 0 30px;

                @include mobile {
                    width: 250px;
                    height: 180px;
                    margin: 1px;
                }
            }

            &:hover {
                transform: scale(1.1)
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: center;

                img {

                    &.right {
                        height: 25px;
                    }

                    &.left {
                        height: 50px;
                        color: white;
                        position: relative;
                        top: -10%;
                    }

                    &.user {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 20px;

                        @include mobile {
                            width: 30px;
                            height: 30px;
                            position: relative;
                            right: 10%;
                            top: -10%;
                        }
                    }
                }
            }

            .center {
                padding: 10px;
                border-radius: 10px;
                background-color: rgb(162, 179, 162);

                @include mobile {
                    font-size: 12px;
                    padding: 2%;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                top: 7%;

                h3 {
                    // margin-bottom: 5px;

                    @include mobile {
                        font-size: 12px;
                        padding: .5%;
                    }
                }

                h4 {
                    color: rgb(174, 172, 172);

                    @include mobile {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}