@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.aboutintro {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    width: 100%;
    height: 100%;

    @include mobile {}

    .aboutme {
        font-size: 1rem;
        position: relative;
        text-align: center;



        @include mobile {

            font-size: 1rem;
            position: relative;
            text-align: center;
            // padding-right: 10%;
            top: -20%;
        }
    }

    .aboutme p {
        // font-size: 1.5rem;
        // text-align: end;
        // font-family: 'Cedarville Cursive', cursive;
        // padding-right: 2%;
        display: flex;
        color: $mainColor;
        justify-content: center;

        @include mobile {
            text-align: center;
            font-size: 1.5rem;
            text-align: end;
            font-family: 'Cedarville Cursive', cursive;
            padding-right: 2%;
        }
    }

    .aboutleft {




        .aboutimg {
            display: flex;
            justify-content: center;
            position: relative;

            img {
                // width: 80%;
                opacity: 30%;
                // border-radius: 50%;
                position: relative;
                background-size: cover;
                // margin-top: 5%;

                @include mobile {
                    margin-top: 30%;
                }
            }
        }
    }

}