@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.aboutintro {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

    @include mobile {}

    .aboutme {
        font-size: 2rem;
        position: relative;
        top: -150%;


        @include mobile {
            position: relative;
            top: -20%;
        }
    }

    .aboutme p {
        position: relative;
        font-size: 2rem;
        text-align: end;
        font-family: 'Cedarville Cursive', cursive;
        display: flex;
        color: $mainColor;
        justify-content: center;
        margin-left: 10%;

        @include mobile {
            font-size: 1.3rem;
            padding-right: 10%;
        }
    }

    .aboutleft {




        .aboutimg {
            display: flex;
            justify-content: center;
            position: relative;

            img {
                // width: 80%;
                opacity: 30%;
                // border-radius: 50%;
                position: relative;
                background-size: cover;
                // margin-top: 5%;

                @include mobile {
                    margin-top: 30%;
                }
            }
        }
    }

}