@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: rgb(37, 37, 37);
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper {
        padding: 7px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left {
        display: flex;
        align-items: center;


        .logo {
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            margin-right: 40px;
        }

        .itemContainer {
            display: flex;
            align-items: center;
            margin-left: 30px;

            @include mobile {
                margin-left: 5px;
            }

            a {
                color: $mainColor;
                font-size: 18px;
                margin-right: 5px;
                text-decoration: none;
            }

            span {
                font-size: 15px;
                font-weight: 500;

                @include mobile {
                    display: none;
                    position: relative;
                    width: 10%;
                }
            }
        }
    }

    .right {

        .hamburger {
            width: 32px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                width: 100%;
                height: 3px;
                background-color: $mainColor;
                transform-origin: left;
                transition: all 2s ease;
            }
        }


    }

    &.active {
        background-color: $mainColor;
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);


                }
            }
        }
    }

    .content {
        position: relative;
    }

    .content h2 {
        color: #fff;
        font-size: 8em;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
    }

    .content h2:nth-child(2) {
        color: #03a9f4;
        animation: animate 4s ease-in-out infinite;
    }

    @keyframes animate {

        0%,
        100% {
            clip-path: polygon(0% 45%,
                    16% 44%,
                    33% 50%,
                    54% 60%,
                    70% 61%,
                    84% 59%,
                    100% 52%,
                    100% 100%,
                    0% 100%);
        }

        50% {
            clip-path: polygon(0% 60%,
                    15% 65%,
                    34% 66%,
                    51% 62%,
                    67% 50%,
                    84% 45%,
                    100% 46%,
                    100% 100%,
                    0% 100%);
        }
    }
}